# Project exclude paths
/array/bin/
/AuthFilterWeb/build/classes/
/bank/bin/
/bank_deposits(xml, xsd)/bin/
/beverages(Decorator)/bin/
/brackets/bin/
/calculator/bin/
/calculatorRMI/bin/
/chocolatefactory(Singleton)/bin/
/ClientServerApp/bin/
/countries/bin/
/ducks(Strategy)/bin/
/ducksandturkeys(Adapter)/bin/
/ee/bin/
/FirstWeb/build/classes/
/football/bin/
/helloworld/bin/
/infix/bin/
/input-output(Decorator)/bin/
/jdbcdemo/bin/
/labXML1/bin/
/labyrinth/bin/
/MainWebP/build/classes/
/MainWebProject/build/classes/
/pizza1(Factory)/bin/
/pizza2(Factory Method)/bin/
/pizza2.1(Abstract Factory)/bin/
/prj01/bin/
/prj02/bin/
/prj03/bin/
/prj04/bin/
/prj05/bin/
/prj05JDBS/bin/
/prj06JDBC/bin/
/prj07/bin/
/prj08/bin/
/prj09/bin/
/prj10/bin/
/prj11/bin/
/prj12/bin/
/prj13/bin/
/prj021/bin/
/prj031/bin/
/prj111/bin/
/prj0311/bin/
/productsClientServer/bin/
/RMIApplicationLab3/bin/
/student/bin/
/test/bin/
/test_string/bin/
/testtttttt/build/classes/
/thread_test/bin/
/tickets/bin/
/training/bin/
/weather(Observer)/bin/
/weather2(Observer)/bin/
/web1/build/classes/
/WebApp1/build/classes/